<script type="text/javascript">

function validateEmpleado()
{
 
   if( document.input.nombre.value == "" )
   {
   	 document.getElementById("Error").innerHTML="<li>Error: Nombre del empleado es necesario para crear un nuevo empleado</li>";
     //alert( "Nombre del empleado es necesario para crear un nuevo empleado" );
     document.input.nombre.focus() ;
     return false;
   }
   if( document.input.correo_electronico.value == "" )
   {
   	 document.getElementById("Error").innerHTML="<li>Error: Correo Electronico es necesario para crear un nuevo empleado</li>";
     alert( "Correo Electronico es necesario para crear un nuevo empleado" );
     document.input.correo_electronico.focus() ;
     return false;
   }
   if( document.input.rfc.value == "" )
   {
     alert( "RFC es necesario para crear un nuevo empleado" );
     document.input.rfc.focus() ;
     return false;
   }if( document.input.empresa_id.value == "" )
   {
     alert( "Empresa es necesaria para crear un nuevo empleado" );
     document.input.empresa_id.focus() ;
     return false;
   }
   if( document.input.password.value == "" )
   {
     alert( "Password es necesario para crear un nuevo empleado" );
     document.input.password.focus() ;
     return false;
   }
   
   if( document.input.password.value != document.confirmacion_password.value )
   {
     alert( "Tu Password y su Confirmacion no concuerdan" );
     document.input.password.focus() ;
     return false;
   }
   
   var emailID = document.input.correo_electronico.value;
   atpos = emailID.indexOf("@");
   dotpos = emailID.lastIndexOf(".");
   if (atpos < 1 || ( dotpos - atpos < 2 )) 
   {
       alert("Por favor escriba un Correo Electronico valido")
       document.input.correo_electronico.focus() ;
       return false;
   }
   
   
   
   return( true );
}

</script>

<h1>Editar Empleado</h1>

<div id="Error"></div>

<form name="input" action="/empleados/update" method="get" onsubmit="return(validateEmpleado);">
<table>
		<tr> 
			<td>Nombre:</td> 
			<td><input type="text" name="nombre" value=<%=@empleado.nombre%> </td> 
		<tr>
 		<tr>
 			<td>Correo Electronico: </td> 
 			<td><input type="text" name="correo_electronico" value=<%=@empleado.correo_electronico%>></td> 
 		<tr>

		<tr>
 			<td>RFC:</td> 
 			<td><input type="text" name="rfc" value=<%=@empleado.rfc%> disabled></td> 
 		<tr>
 
        <tr>
 			<td>Empresa: </td> 
 			<td><input type="text" name="empresa_id" value=<%=@empleado.empresa_id%>></td> 
 		<tr>

		<tr>
 			<td>Password: </td> 
 			<td><input type="text" name="password" value=<%=@empleado.password%>></td> 
 		<tr>

		<tr>
 			<td>Confirmacion Password:</td> 
 			<td> <input type="text" name="confirmacion_password" value=<%=@empleado.password%>></td> 
 		<tr>


</table>
<input type="submit" value="Submit">
</form>