<script type="text/javascript">

function validateEmpresa()
{
 
   if( document.input.nombre.value == "" )
   {
   	 document.getElementById("Error").innerHTML="<li>Error: Nombre es necesario para crear unas nueva sucursal</li>";
   	 //document.getElementById("Error").style.border = "solid 1px red";
     //alert( "Nombre es necesario para crear unas nueva sucursal!" );
     document.input.nombre.focus() ;
     document.input.nombre.style.border = "solid 1px red";
     return false;
   }else
   {
   	document.input.nombre.style.border = "solid 1px black";
   }
   
   
   
   if( document.input.numero_int.value != "" &&
           isNaN( document.input.numero_int.value ) )
   {
   	document.getElementById("Error").innerHTML="<li>Error: Numero Interior debe ser un numero</li>";
   	 
     //alert( "Numero Interior debe ser un numero" );
     document.input.numero_int.focus() ;
     document.input.numero_int.style.border = "solid 1px red";
     return false;
   }
   else
   {
   	document.input.numero_int.style.border = "solid 1px black";
   }
   
   if( document.input.numero_ext.value != "" &&
           isNaN( document.input.numero_ext.value ) )
   {
   	document.getElementById("Error").innerHTML="<li>Error: Numero Exterior debe ser un numero</li>";
     //alert( "Numero Exterior debe ser un numero" );
     document.input.numero_ext.style.border = "solid 1px red";
     document.input.numero_ext.focus() ;
     return false;
   }
   else
   {
   	document.input.numero_ext.style.border = "solid 1px black";
   }
   
   if( document.input.codigo_postal.value != "" &&(
           isNaN( document.input.codigo_postal.value ) ||
           document.input.codigo_postal.value.length != 5 ))
   {
   	 document.getElementById("Error").innerHTML="<li>Error: Codigo postal debe ser 5 numeros #####.</li>";
     //alert( "Codigo postal debe ser 5 numeros #####." );
     document.input.codigo_postal.focus() ;
     return false;
   }
   else
   {
   	document.input.codigo_postal.style.border = "solid 1px black";
   }
   
   return( true );
}

</script>

<h1>Editar Sucursal</h1>
<div id="Error"></div>
<form name="input" action="/empresas/create" method="get" onsubmit="return(validateEmpresa());">
<table>
	<input type="hidden" name="id" value="<%=@empresa.id%>">
		<tr> 
			<td>Nombre:</td> 
			<td><input type="text" name="nombre" value=<%=@empresa.nombre%> </td> 
		<tr>
 		<tr>
 			<td>Calle: </td> 
 			<td><input type="text" name="calle" value=<%=@empresa.calle%>></td> 
 		<tr>

		<tr>
 			<td>Colonia:</td> 
 			<td><input type="text" name="colonia" value=<%=@empresa.colonia%>></td> 
 		<tr>
 
        <tr>
 			<td>Numero Exterior: </td> 
 			<td><input type="text" name="numero_ext" value=<%=@empresa.numero_ext%>></td> 
 		<tr>

		<tr>
 			<td>Numero Interior: </td> 
 			<td><input type="text" name="numero_int" value=<%=@empresa.numero_int%>></td> 
 		<tr>

		<tr>
 			<td>Codigo Postal:</td> 
 			<td> <input type="text" name="codigo_postal" value=<%=@empresa.codigo_postal%>></td> 
 		<tr>

		<tr>
			<td>Ciudad:</td> 
			<td> <input type="text" name="ciudad" value=<%=@empresa.ciudad%>></td> 
		<tr>

		<tr>
			<td>Pais:</td> 
			<td><input type="text" name="pais" value=<%=@empresa.pais%>></td> 
		<tr>

</table>
<input type="submit" value="Submit">
</form>

<h2>Listado de Empleado de Sucursal</h2>
<% if @empleados != nil %>
	
	<table style="width:80%">
	<tr>
	  <th>Nombre</th>
	  <th>Correo Electronico</th> 
	  <th>RFC</th>
	  <th>Empresa id</th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>
	
	
	<%@empleados.each do |empleado| %>
	<tr>
	  <td><%= empleado.nombre %></td>
	  <td><%= empleado.correo_electronico %></td> 
	  <td><%= empleado.rfc %></td>
	  <td><%= empleado.empresa_id %></td>
	  
      
	  
      <td><%= link_to 'Modificar', edit_empleado_path(empleado) %></td>
      <td><%= link_to 'Eliminar', empleado, method: :delete,
                                     data: { confirm: 'Estas seguro?' } %></td>
	</tr>
	<% end %>
	</table>
<% else %>
	
	<h2>No hay empleados a mostrar</h2>

<% end %>
<br>

<%= link_to "Agregar Empleado", controller: 'empleados', action: 'new' %>

