<h1>Administrador de Sucursales</h1>
<% if @empresas != nil %>
	<h2>Sucursales existentes</h2>
	<table style="width:300px">
	<tr>
	  <td>Nombre</td>
	  <td>Calle</td> 
	  <td>Numero ext</td>
	  <td>Numero int</td>
	  <td>Codigo Posta</td>
	  <td>Ciudad</td>
	  <td>Pais</td>
	  <td></td>
	  <td></td>
	  <td></td>
	</tr>
	
	
	<%@empresas.each do |empresa| %>
	<tr>
	  <td><%= empresa.nombre %></td>
	  <td><%= empresa.calle %></td> 
	  <td><%= empresa.numero_ext %></td>
	  <td><%= empresa.numero_int %></td>
	  <td><%= empresa.codigo_postal %></td>
	  <td><%= empresa.ciudad %></td>
	  <td><%= empresa.pais %></td>
      
	  
      <td><%= link_to 'Modificar', edit_empresa_path(empresa) %></td>
      <td><%= link_to 'Eliminar', empresa, method: :delete,
                                     data: { confirm: 'Estas seguro?' } %></td>
	</tr>
	<% end %>
	</table>
<% else %>
	
	<h2>No hay empresas a mostrar</h2>

<% end %>
<br>
<%= link_to "Agregar empresa", new_empresa_path %>


