<h1>Show Sucursal</h1>
<form>
<table>
		<tr> 
			<td>Nombre:</td> 
			<td><input type="text" name="nombre" value=<%=@empresa.nombre%> </td> 
		<tr>
 		<tr>
 			<td>Calle: </td> 
 			<td><input type="text" name="calle" value=<%=@empresa.calle%>></td> 
 		<tr>

		<tr>
 			<td>Colonia:</td> 
 			<td><input type="text" name="colonia" value=<%=@empresa.colonia%>></td> 
 		<tr>
 
        <tr>
 			<td>Numero Exterior: </td> 
 			<td><input type="text" name="numero_ext" value=<%=@empresa.numero_ext%>></td> 
 		<tr>

		<tr>
 			<td>Numero Interior: </td> 
 			<td><input type="text" name="numero_int" value=<%=@empresa.numero_int%>></td> 
 		<tr>

		<tr>
 			<td>Codigo Postal:</td> 
 			<td> <input type="text" name="codigo_postal" value=<%=@empresa.codigo_postal%>></td> 
 		<tr>

		<tr>
			<td>Ciudad:</td> 
			<td> <input type="text" name="ciudad" value=<%=@empresa.ciudad%>></td> 
		<tr>

		<tr>
			<td>Pais:</td> 
			<td><input type="text" name="pais" value=<%=@empresa.pais%>></td> 
		<tr>

</table>
<input type="submit" value="Submit">
</form>