<!DOCTYPE html>
<html>
<head>
  <title>Organizador de Empresas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "extra" %>
  <%= csrf_meta_tags %>
  
  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

  <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
  
  <style>
	table, th, td
	{
	border-collapse:collapse;
	border:1px solid black;
	}
	th, td
	{
	padding:5px;
	}
  </style>
</head>
<body >
 
<% flash.each do |key, value| %>
<p class="error_explanation"> <%= value %> </p>
<% end %>


<div class="contenedor"> 
<%= yield %>
</div >
  <%= debug(params) if Rails.env.development? %>
  
  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>
  
  
</body>

</html>